.fg {
    background-color: #d4d3d8;
}

#logo {
    width: 40px;}
.blue {
    color: rgb(172, 110, 231);
}
 #wd  {
    width: 25px;
    margin-left: 5px;
  
}
.set {
    width: 100PX;
    margin: 20px;
}
.name {
    color: rgb(67, 137, 183);

    margin: 5px;
    padding: 7px;
}
.leaderr{
    margin: 16px;
    width: 870px;
    height: auto;
    left: 285px;
    top: 135px;
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid #bb1111;
}
.setx {
    width: 250px;
    margin: 15px;
    padding: 5px;

}

.con{
    color: rgb(89, 33, 33);
    margin: 15px;
    padding: 9px;
}
.sm {
    width: 15px;
}
.time {
    width: 25px;
}
 .smq {
    width: 15px;
    
    
}
.red {
    color: orangered;
}
.grey {
    color: rgb(107, 102, 102);
}

.end strong {
    background-color:  #ffe4e8;
    margin: 6px;
    padding: 3px;
    border-radius: 9px;

}

.foot {

    text-align: center;
}